body {
    margin: 0;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #202020;
    color: #ffffff;
}

body.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.main-content {
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.content {
    min-height: 300vh;
}

.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000;
    background-color: #256;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid #bbbbbb;
}

.dropbtn {
    float: left;
    overflow: hidden;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #8b1500;
    font-family: inherit;
    position: absolute;
    margin: 0;
}

.navbar a:hover, .dropbtn:hover {
    background-color: #700000;
}

body.nav-open {
    overflow: hidden;
}

.drawer {
    position: fixed;
    left: -300px;
    top: 0;
    width: 260px;
    height: 100%;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: #202020;
    transition: 0.2s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    text-align-last: left;
}

.hub-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 999;
}

.nav-open .drawer {
    left: 0;
}

.nav-open .hub-overlay {
    display: block;
}

.nav-close {
    background-color: #303030;
    color: #ffffff;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    width: 60px;
    margin: 4px 2px;
    box-shadow: 0 3px #303030;
}

.button {
    display: inline-block;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    margin: 4px 2px;
    border: none;
    box-shadow: 0 3px #303030;
 }

.button:hover {
    box-shadow: 0 0 0 3px rgba(180, 180, 180, 0.5);
    outline: none;
}
.button:active {
    box-shadow: 0 0px #202;
    transform: translateY(3px);
}

.nav-close:hover {
    box-shadow: 0 0 0 3px rgba(256, 256, 256, 0.5);
    outline: none;
}

.nav-close:active {
    box-shadow: 0 0px #fff;
    transform: translateY(3px);
}

.button-info {
    background-color: brown;
    border-radius: 8px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    float: center;
    display: inline block;
    font-size: 18px;
    margin: 4px 2px;
}

.button1 {
  background-color: #0c79ac; 
  border-radius: 8px;
}

.button2 {
  background-color: #83035c; 
  border-radius: 8px;
}

.disconnection {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    color: #ffffff;
    width: 100%; 
    height: 100%; 
    background-color: #202020;
    text-align: center;
}

.disconnection.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.offline-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}

.disconnection.visible {
    display: block;
}