.all-games {
   margin: 20px auto;
   width: 80%;
   max-width: 950px;
   padding: 15px;
   text-align: center;
   border: 5px solid rgb(64, 64, 64);
   border-radius: 8px;
   background-color: rgb(134, 47, 67);
   color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .web-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .web-grid {
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 3;
    display: grid;
  }
  .web {
    width: 300px;
  }
}

.web-grid {
   padding: 5px;
   gap: 10px;
}

.all-games > h2, .web {
   margin: 15px auto;
   padding: 4px;
}

.image-container {
   position: relative;
   max-width: 1208px;
   max-height: 230px;
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
}

.image-container img {
   background-color: #000000;
   max-width: 100%;
   max-height: 100%;
   object-fit: fill;
   border-radius: 8px;
}

.web {
   background-color: #202020;
   color: #ffffff;
   border-radius: 5px;
}

.web > h4, p {
   margin: 15px;
   font-size: 80%;
}

.game-type {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(22, 80, 20, 0.9);
  color: #ffffff;
  padding: 5px 10px;
  font-size: 20px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
}

.game-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  padding: 5px 10px;
  font-size: 20px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}