.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    z-index: 1000;
}

.info-content {
    background-color: #202020;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: 1px solid #fff;
    padding: 10px;
    width: 100vw;
    height: 100vh;
    max-width: 450px;
    max-height: 100%;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

h3 {
    margin-top: 1px;
}