:root {
   --bg-color: #ffffff;
   --text-color: #000000;
}

.read {
   margin: 20px auto;
   width: 80%;
   max-width: 950px;
   padding: 15px;
   text-align: center;
   border: 5px solid rgb(64, 64, 64);
   border-radius: 8px;
   background-color: rgb(134, 47, 67);
   color: #ffffff;
}

.read > h2, .web {
   margin: 15px auto;
   padding: 4px;
}

.image-container {
   position: relative;
   max-width: 1208px;
   max-height: 230px;
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
}

.image-container img {
   background-color: #000000;
   max-width: 100%;
   max-height: 100%;
   object-fit: fill;
   border-radius: 8px;
}

.web.dark-mode {
   --bg-color: #202020;
   --text-color: #ffffff;
}

.web {
   background-color: var(--bg-color);
   color: var(--text-color);
   border-radius: 5px;
}

.web > h4, p {
   margin: 15px;
   font-size: 80%;
}