body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #ffffff;
 }
  
.navbar {
  overflow: hidden;
  background-color: #256;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a {
  float: left;
  border-right: 1px solid #ffffff;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover {
  background-color: red;
}


body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

.main-content {
    padding: 20px;
    text-align: center;
}

.disconnection-overlay {
    display: none; 
    position: fixed; 
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #f4f4f4;
    opacity: 20;
    text-align: center;
    transition: opacity 0.5s; 
    opacity: 0;
}

.overlay-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}

.disconnection-overlay.visible {
    display: block;
    opacity: 1;
}